@charset "UTF-8";

/* 
HTML é id = CSS é # 
HTML é class  = CSS é .
*/

body {
    background-color: #C3B6EA;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #687a91; 
}

#principal {
    text-align: center;
    background-color: #e47cca54;
    color: #61727a;
}

h2 {
    color: #677983;
}
p {
    text-align: justify;
}

.basico {
    color: rgb(28, 126, 61);
}
.intermediario {
    color: rgb(119, 126, 28);
}
.avancado {
    color: rgb(126, 28, 28);
}