body {
    background: linear-gradient(to right, #574c75, #3e3768);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(12, 4, 5);
}

.grid_midia {
    width: 516px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video {
    width: 250px;
    height: 150px;
    margin: 4px;
}

.video:hover {
    scale: 102%;
}

.video img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

