@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9fd375, #54bd4a)
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #547a3a;
}

h1 {
    color: #363635;
    text-align: center;
    text-shadow: 1px 1px 2px #777775;
}

h2 {
    color: #595A4A;
}

p {
    text-align: justify;
}